body{
    font-family: Open Sans,sans-serif;
    color: #525c65;
    line-height: 24px;
    font-size: 16px;
}

header{
    text-align: center;
    height: 850px;
    background-image: url('https://www.visalighting.com/sites/default/files/tunable-lighting-in-classrooms.jpg');
    background-size: 100% 850px;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.nav-link{
    font-size: 1.3rem;
}


.header_content{
    font-weight: 700;
    width: 25%;
    margin-top: 10em;
    padding-left: 3rem;
    font-weight: 500;
    color: #333533;
}

h2{
    font-size: 2rem;
    line-height: 36px;
    font-weight: 300;
}

main{
    background-color: #2e3d49;
}


.learning_model{
    font-size: 1rem;
    line-height: 28px;
    width: 80%;
    margin: auto;
}

.learning_model img{
    width: 800px;
    height: 650px;
}

.learning_model li{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 32px;
    color: #7d97ad;
    cursor: pointer;
}

.container{
    padding: 140px 0;
    font-weight: 300;
}

.container p{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron{

    background-color: #2e3d49;
    color: white;
}

.review{
    background-color: rgba(29,124,248,.05);
    padding: 4rem;
}

.review_card{
    width: 550px;
    height: 300px;
    padding: 1rem;
    margin-top: 3rem;
    background-color: #fff ;
}

.review img{
    width: 80px;
    height: 80px;
}

.review h3{
    color: #2e3d49;
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 36px;
    font-weight: 300;
}

.review p{
    font-size: 1rem;
    padding: 0 1.25rem 1.25rem;
    font-style: italic;
    flex: 1 1 auto;
}

footer{
    background-color: rgba(29,124,248,.05);
    padding-top: 10rem;

}

footer h4{
    font-size: .8125rem;
    line-height: 1.5rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #7d97ad;
    margin-bottom: .75rem;
    padding: 0;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li{
    font-size: .8125rem;
    padding: .25rem 0;
   
}

